<article>
  <header>
    <h1>about</h1>
  </header>

  <section class="content">
    <p>Former soldier. Former Java dude.</p>
    <p>Currently Ruby, Rails, and iPhone dev dude.</p>
    <p>Husband. Dad.</p>
		<ol>
			<li><a href="http://www.twitter.com/metageoff" title="metageoff on twitter">Twitter</a></li>
			<li><a href="http://ca.linkedin.com/in/glongman" title="geoffrey longman at linkedin">Linked In</a></li>
		</ol>
  </section>

</article>