<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <title><%= title %></title>
  </head>
  <body>
	  <header>
			<h1><a href="/">metageoff</a></h1>
		</header>
    <section>
	    <a href="http://github.com/glongman">
			  <img alt="Fork me on GitHub" src="/images/forkme.png" style="border: 0pt none ; position: absolute; top: 0pt; right: 0pt;">
			</a>
      <%= yield %> 
    </section>
    <footer>
      <p>powered by <a href="http://cloudhead.io/toto">toto</a></p>
      <p>Copyright &copy; 2010 <a href="/about">Geoffrey Longman</a></p>
    </footer>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-309343-2");
		pageTracker._trackPageview();
		} catch(err) {}
		</script>
  </body>
</html>

